// 1. Importing Bootstrap's functions and variables
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// 2. Define your custom colors and fonts
$primary: #7d9779; // Primary Color
$secondary: #c4c4c4; // Secondary Color
$success: #5a6f64; // Accent Color
$light: #e2e2e2; // Background Color
$dark: #333333; // Text Color

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "light": $light,
  "dark": $dark,
);

$font-family-sans-serif: "Lato", sans-serif;
$font-family-base: "Poppins", sans-serif;

// 3. Import Bootstrap's core
@import "node_modules/bootstrap/scss/bootstrap";

// 4. Additional custom styles (if needed)
body {
  background-color: $light;
  color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
}

p,
li,
span,
a,
and other text elements {
  font-family: $font-family-base;
}

.btn-success {
  padding: 0.8em 1em;
}

// NavBar

.navbar {
  backdrop-filter: blur(5px);
}

// HomePage Hero

.hero {
  background-image: url("../assets/images/home-hero.webp"); // Adjust path as needed
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  padding-top: 56px;
}

.homepage__hero-text {
  position: absolute;
  top: 30%; // Start at 50% from the top
  left: 50%; // Start at 50% from the left
  transform: translate(-50%, -50%);
  width: 100%;
}
